<!DOCTYPE html>
<html>
  <head>
    <title>Silver Medal Brewing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to root_path, class: 'navbar-brand text-light-primary' do %>
        <%= image_tag 'SMB-Logo_v4.png', height: '50px' %>
        Silver Medal Brewing
      <% end %>
      
      <div class="nav navbar-nav">
        <%= link_to 'Brews', products_path, class: 'nav-item  nav-link' %>
        <%= link_to 'About', about_path, class: 'nav-item  nav-link' %>
        <%= link_to 'Contact', contact_path, class: 'nav-item  nav-link' %>
      </div>
    </nav>
    <%= yield %>
    <footer class="p-2"><div class="text-center">This website was created by BoddySpargo Productions. (C) 2018</div></footer>
  </body>
</html>
